{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Bookmarks</h1>
<div class="tweets">
    {% if bookmarks %}
        <ul class="tweet-list">
            {% for tweet in bookmarks %}
                <li class="tweet-card">
                    <div class="tweet-header">
                        <a href="{% url 'users:profile' tweet.user.username %}" class="tweet-author">
                            {% if tweet.user.avatar %}
                                <img src="{{ tweet.user.avatar.url }}" alt="Avatar" class="avatar">
                            {% else %}
                                <img src="{% static 'img/default-avatar.png' %}" alt="Avatar" class="avatar">
                            {% endif %}
                            <span>{{ tweet.user.username }}</span>
                        </a>
                        <span class="tweet-date">{{ tweet.created_at }}</span>
                    </div>
                    <p class="tweet-content">{{ tweet.content }}</p>
                    {% if tweet.media %}
                        <img src="{{ tweet.media.url }}" alt="Tweet Media" class="tweet-media">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no bookmarks.</p>
    {% endif %}
</div>
{% endblock %}
