{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Bookmarks</h1>
<div class="tweets">
    {% if page.object_list %}
        <ul class="tweet-list">
            {% for tweet in page %}
                <li class="tweet-card">
                    <div class="tweet-header">
                        <a href="{% url 'users:profile' tweet.user.username %}" class="tweet-author">
                            {% if tweet.user.avatar %}
                                <img src="{{ tweet.user.avatar.url }}" alt="Avatar" class="avatar">
                            {% else %}
                                <img src="{% static 'img/default-avatar.png' %}" alt="Avatar" class="avatar">
                            {% endif %}
                            <span>{{ tweet.user.username }}</span>
                        </a>
                        <span class="tweet-date">{{ tweet.created_at }}</span>
                    </div>
                    <p class="tweet-content">{{ tweet.content }}</p>
                    {% if tweet.media %}
                        <img src="{{ tweet.media.url }}" alt="Tweet Media" class="tweet-media">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if page.has_previous or page.has_next %}
            <div class="pagination">
                {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}" class="btn">Previous</a>
                {% endif %}
                <span>{{ page.number }} / {{ page.paginator.num_pages }}</span>
                {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}" class="btn">Next</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>There are no bookmarks.</p>
    {% endif %}
</div>
{% endblock %}
