{% extends 'base.html' %}

{% block title %}Followers of {{ profile_user.username }}{% endblock %}

{% block content %}
<h1>Followers {{ profile_user.username }}</h1>
<ul class="follower-list">
    {% for follower in followers %}
        <li>
            <a href="{% url 'users:profile' follower.username %}" class="btn-flwr">{{ follower.username }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'users:profile' profile_user.username %}" class="btn-flwr">Back to profile</a>
{% endblock %}
