{% extends 'base.html' %}

{% block title %}Following list of {{ profile_user.username }}{% endblock %}

{% block content %}
<h1>Following list of {{ profile_user.username }}</h1>
<ul class="following-list">
    {% for follow in following %}
        <li>
            <a href="{% url 'users:profile' follow.username %}" class="btn-flwr">{{ follow.username }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'users:profile' profile_user.username %}" class="btn-flwr">Back to profile</a>
{% endblock %}
