{% extends 'base.html' %}
{% load static %}

{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>Profile of {{ user.username }}</h1>
    <div class="profile-details">
        <div class="profile-avatar-section">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Аватар" class="profile-avatar">
            {% else %}
                <img src="{% static 'img/default-avatar.png' %}" alt="Аватар" class="profile-avatar">
            {% endif %}
        </div>
        <div class="profile-info-section">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>About me:</strong> {{ user.bio }}</p>
            <p><a href="{% url 'users:followers_list' user.username %}">Followers:</a> {{ user.followers.count }}</p>
            <p><a href="{% url 'users:following_list' user.username %}">Following:</a> {{ user.following.count }}</p>
        </div>
    </div>

    {% if user == request.user %}
    <div class="profile-actions">
        <a href="{% url 'users:edit_profile' %}" class="btn">Edit Profile</a>
        <a href="{% url 'users:logout' %}" class="btn btn-danger">Exit</a>
    </div>
    {% else %}
    <div class="profile-follow">
        <form method="post" action="{% url 'users:follow' user.username %}">
            {% csrf_token %}
            <button type="submit" class="btn">
                {% if request.user in user.followers.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>
    </div>
    {% endif %}

    <h3>Твиты {{ user.username }}</h3>
    {% if tweets %}
        <ul class="tweet-list">
            {% for tweet in tweets %}
                <li class="tweet-card">
                    <p>{{ tweet.content }}</p>
                    <p><small>{{ tweet.created_at }}</small></p>
                    {% if tweet.media %}
                        <img src="{{ tweet.media.url }}" alt="Tweet Media" class="tweet-media">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ user.username }} hasn't tweet anything.</p>
    {% endif %}
</div>
{% endblock %}
